---
import Layout from '../layouts/Layout.astro';
---

<Layout title="会社概要 | よろずや本舗">
  <section class="px-4 py-10 max-w-6xl mx-auto">
    <h1 class="text-3xl font-bold mb-6">会社概要 / Company Profile</h1>
    <p class="mb-10 text-gray-700">
      当社の会社概要は以下のとおりです。<br />
      ご縁のあった方々との出会いと感謝を常に大切にすることを理念としています。
    </p>

    <table class="table-auto border-collapse w-full my-6">
      <tbody>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">会社名</th>
          <td class="px-4 py-2">よろずや本舗合同会社</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">Company</th>
          <td class="px-4 py-2">Yorozuya Hompo LLC</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">代表社員</th>
          <td class="px-4 py-2">遠藤 聡</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">Representative</th>
          <td class="px-4 py-2">Satoshi ENDO</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">所在地</th>
          <td class="px-4 py-2">〒960-0472 福島県伊達市根田15番地9</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">Postal address</th>
          <td class="px-4 py-2">Neda 15-9, Date-City, 960-0472 Fukushima / Japan</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">電話番号</th>
          <td class="px-4 py-2">(+81) 080-1032-4192</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">関連サイト</th>
          <td class="px-4 py-2"><a href="https://infopolis.org/" target="_blank">https://infopolis.org</a>(工作機械はおもしろい)<br />
        <a href="https://sypangu.net/" target="_blank">https://sypangu.net</a>(ドイツ時事ジャーナル)</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">受付時間</th>
          <td class="px-4 py-2">平日 09:00〜18:00（土日祝日休業）</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">設立</th>
          <td class="px-4 py-2">2022年4月</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">事業内容</th>
          <td class="px-4 py-2">物販事業、研修事業、コンサルティング事業、投資事業（資産構築）</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">資本金</th>
          <td class="px-4 py-2">100万円</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">従業員数</th>
          <td class="px-4 py-2">1名（2022年12月現在）</td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">売上高</th>
          <td class="px-4 py-2">非公開 </td>
        </tr>
        <tr class="border">
          <th class="bg-gray-100 text-left px-4 py-2">登録免許</th>
          <td class="px-4 py-2">古物商許可：福島県公安委員会 第251040000686号</td>
        </tr>
    </table>    
        
    <p style="margin-top: 1rem;">
      お問い合わせ・ご質問などは遠慮なくご連絡ください。
    </p>
  </section>
</Layout>
