---
import Header from '../components/Header.astro';
import { generateBreadcrumbs } from '../lib/generateBreadcrumbs.ts';
import Breadcrumb from '../components/Breadcrumb.astro';

const { title } = Astro.props;
const pathname = Astro.url.pathname;
const breadcrumbLinks = generateBreadcrumbs(pathname);
---

<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1TGCQ595QT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1TGCQ595QT');
    </script>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>
  <body class="text-gray-800 font-sans">

    <!-- ✅ 置き換えたヘッダー -->
    <Header />

    <!-- ✅ メイン -->
    <main class="max-w-4xl mx-auto px-4 py-4 space-y-2 pt-20 sm:pt-6">
      {breadcrumbLinks.length > 1 && (
        <div>
          <slot name="breadcrumb">
            <Breadcrumb links={breadcrumbLinks} />
          </slot>  
        </div>
      )}
      <div>
        <slot />
      </div>  
    </main>

    <!-- ✅ フッター -->
    <footer class="text-center text-sm text-gray-500 py-6">
      © 2025 Yorozuya Hompo LLC.
    </footer>
  </body>
</html>
